/* 1) Global settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 2) Header */

.cryptoImg {
    padding-top: 25px;
    max-width: 1060px;
    margin: 10px auto 0px auto;
    box-shadow: 4px 4px 6px #adb5bd;
}

.wrapper {
    max-width: 1060px;
    margin: 0 auto 14px auto;
    border-bottom: 4px solid #adb5bd;
    box-shadow: 4px 4px 6px #adb5bd;
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding-top: 10px;
}

nav {
    width: 60%;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 2%;
}

nav a {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}

.homeBTN,
.liveReportBTN,
.aboutBTN {
    background-color: white;
    color: black;
    border: none;
    text-transform: uppercase;
    font-size: 20px;
}

.highlightedBTN {
    background-color: #007eff;
    color: white;
    font-size: 24px;
}

.searchBTN {
    color: #fff;
    background-color: #2f9e44;
    border: none;
    border-radius: 6%;
    font-size: 16px;
    font-weight: 600;
    margin-left: 4px;
    padding: 0 16px;
    height: 26px;
}

input {
    height: 25px;
}

/* 3) Main content body */


.body-container {
    display: grid;
    border: 2px solid #adb5bd;
    border-radius: 4px;
    box-shadow: 4px 4px 6px #adb5bd;
    width: 1060px;
    margin: 0 auto;
    gap: 14px;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;

    grid-template-columns: auto auto auto;
}

/* Global element available when no content in the body-container */
.message {
    display: block;
    background-color: #ffa94d;
    border: 1px solid black;
    border-radius: 4px;
    width: 300px;
    margin: 0 auto;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

/* Chart element */
#chart-container {
    width: 1060px;
    margin: 10px auto 10px auto;
}

/* Coin card element */
.coin-card {
    /* margin-bottom: 14px; */
    border: solid black 1px;
    width: 318px;
    height: 180px;
    /* with that atribute i can limit the text width */
    word-wrap: break-word;
    /* position: relative; */
}


.hidden {
    display: none;
}

p {
    font-size: 24px;
    margin-left: 5%;
    display: inline-block;
    margin-bottom: 20px;
    width: 70%;

}

.mybtn {
    background-color: #007eff;
    color: white;
    height: 40px;
    border-radius: 5%;
    margin-left: 5%;
}

.headInfo {
    width: 100%;
    margin-top: 6px;
    display: flex;
    align-items: start;
}

.form-check-input:hover {
    cursor: pointer;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.more-info-panel {
    position: absolute;
    width: 317.2px;
    margin-left: 0px;
    margin-top: 25px;
    background-color: #ebeced;
    border: 1px black solid;
    z-index: 1;
}

.more-info-panel p {
    margin-left: 10%;
    margin-bottom: 10px;
    font-size: 20px;
}

.more-info-panel p:nth-child(2) {
    text-decoration: underline;
}

.more-info-image {
    position: absolute;
    margin: 20px 0px 0px 180px;
    width: 100px;
}